# Bot Token
BOT_TOKEN=

# DB
DB_NAME=esxbot
DB_USERNAME=
DB_PASSWORD=
DB_PORT=
# LOG CHANNEL ID
ADMIN_LOG_CHANNEL_ID=

LOG_CHANNEL_ID=

# MUTE ROLE ID
MUTE_ROLE_ID=

# Reaction Roles
DEVELOPER_ROLE_ID=

NEWBIE_ROLE_ID=

REACT_ROLE_CHANNEL=

RULE_CHANNEL=

# TypeORM CLI
TYPEORM_CONNECTION = postgres
TYPEORM_HOST = localhost
TYPEORM_USERNAME = root
TYPEORM_PASSWORD = admin
TYPEORM_DATABASE = test
TYPEORM_PORT = 3000
TYPEORM_SYNCHRONIZE = true
TYPEORM_LOGGING = true
TYPEORM_ENTITIES = src/models/**/*.ts

# Roles to bypass Bot Filter
FILTER_WHITE_LIST_ROLES="806646715167670324, 806546315267670326"